<footer>
    <div class="footer-sitemap">
        <h2>Plan du site</h2>
        <nav>
            <ul>
                <li><a href="{{ path('app_main')}}">Accueil</a></li>
                <li><a href="{{ path('app_project_index') }}">Nos projets</a>
                    <ul>
                        {% for project in siteInfo.getProjects %}
                            <li>
                                <a href="{{ path('app_project_show', {'id': project.id, 'slug': project.slug}) }}">
                                    > {{ project.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="{{ path('app_calendar')}}">Agenda</a></li>
                <li><a href="{{ path('app_gallery') }}">Galerie</a></li>
                <li><a href="{{ path('app_contact') }}">Nous contacter</a></li>
            </ul>
        </nav>
    </div>
    <div class="partners">
        <h2>Nos partenaires</h2>
        {% for partner in siteInfo.getPartners %}
            <a href="{{ partner.url }}" target="_blank">
                <div class="relative partner-link">
                    {% if partner.url %}
                        <img src="{{ asset('images/' ~ partner.pictureName)}}" alt="Logo de {{ partner.title }}" class="h-16 relative">
                    {% else %}
                        <img src="{{ asset('images/' ~ partner.pictureName)}}" alt="Logo de {{ partner.title }}" class="h-16 relative">
                    {% endif %}
                    <div class="partner-title">
                        <p>{{ partner.title }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <div class="mt-4 text-center text-sm">
        <p><a href="#">Mentions légales</a> - conçu et développé par <a href="https://centcommentaire.fr" class="underline">Cent Commentaire</a></p>
    </div>
</footer>