<header class="relative min-h-60">
    <nav class="px-4 py-2" data-controller="main-menu">
        <div class="flex justify-between">
            <a href="{{ path('app_main') }}" title="retour à la page d'accueil"><img src="{{ asset('images/logo/' ~ siteInfo.getSiteInfo.logoName) }}" alt="Logo de {{ siteInfo.getSiteInfo.title }}" class="h-12 w-12"></a>
            <button data-action="click->main-menu#toggle" id="mobile-menu-btn">
                <span class="sr-only">Ouvrir le menu principal</span>
                <svg data-main-menu-target="toggle" class="w-4 h-4" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
                <svg data-main-menu-target="toggle" class="hidden w-6 h-6" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <ul id="main-menu">
            <li>Nos Projets</li>
            <li><a href="{{ path('app_calendar') }}">Agenda</a></li>
            <li><a href="{{ path('app_gallery') }}">Gallerie</a></li>
            <li>Nos Partenaires</li>
            <li>Nous contacter</li>
        </ul>
    </nav>
    <div class="yvi-container title">
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
    </div>
</header>