<header class="relative min-h-60">
    <nav class="px-4 py-2 flex justify-between">
        <a href="{{ path('app_main') }}" title="retour à la page d'accueil"><img src="{{ asset('images/logo/' ~ siteInfo.getSiteInfo.logoName) }}" alt="Logo de {{ siteInfo.getSiteInfo.title }}" class="h-12 w-12"></a>
    </nav>
    <div class="yvi-container title">
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
    </div>
</header>