{% extends "admin/base.html.twig" %}

{% block title %}Liste des lieux
{% endblock %}

{% block body %}
	<div class="p-4 border-2 border-gray-200 border-dashed rounded-lg">
		<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
			<table class="w-full text-sm text-left rtl:text-right text-gray-500">
				<caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white">
					<div class="xl:flex xl:justify-between">
						<div class="display-title">
							Liste des lieux
							<p class="mt-1 text-sm font-normal text-gray-500">Voici la liste des lieux.</p>
						</div>
						<div class="display-buttons">
							<a href="{{ path('app_edit_place_new') }}" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-block">Nouveau lieu</a>
						</div>
					</div>
                    {% include "_partials/_searchbar.html.twig" %}
				</caption>
				<thead class="text-xs text-gray-700 uppercase bg-gray-50">
					<tr>
						<th scope="col" class="px-6 py-3">Nom</th>
						<th scope="col" class="px-6 py-3">Adresse</th>
						<th scope="col" class="px-6 py-3">Téléphone</th>
						<th scope="col" class="px-6 py-3">Email</th>
						<th scope="col" class="px-6 py-3">Dates</th>
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Actions</span>
                        </th>
					</tr>
				</thead>
				<tbody>
					{% for place in places %}
						<tr class="bg-white border-b hover:bg-gray-50 max-h-10">
							<th class="px-6 py-4">{{ place.title }}</th>
							<td class="px-6 py-4">{{ place.address ~ ' - ' ~ place.zipCode ~ ' ' ~ place.city }}</td>
							<td class="px-6 py-4">{{ place.phone }}</td>
							<td class="px-6 py-4">{{ place.email }}</td>
                            <td class="px-6 py-4">
                                {% for calendar in place.calendars %}
                                    {{ calendar.date|date() ~ ': ' ~ calendar.project.title }}<br>
                                {% else %}
                                    Aucune date pour ce lieu.
                                {% endfor %}
                            </td>
                            <td class="px-6 py-4 text-right whitespace-nowrap">
                                <a href="{{ path('app_edit_place_edit', {'id': place.id}) }}">Modifier</a><br>
                                {{ include('admin/place/_delete.html.twig', { className: 'font-medium text-red-600 hover:underline'}) }}
                            </td>
						</tr>
					{% else %}
						<tr>
							<td colspan="6">Aucune donnée trouvée</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
